html,
body {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#map {
  width: 100%; /* Adjust width to your desired size */
  height: 100%; /* Adjust height to your desired size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
  border-radius: 8px; /* Optional: rounded corners */
}

#map svg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

#map svg circle,
.legend > div {
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
}

#map svg circle {
  fill: var(--color);
}

.legend {
  display: flex;
  margin-block: 1em;
  width: 100%;
}

.legend > div {
  background: var(--color);
  color: white;
  flex: 1;
  padding: 5px;
  /* font-weight: bold; */
  font-weight: 650;
}
.legend > div:first-child {
  text-align: left;
}
.legend > div:nth-child(2) {
  text-align: center;
}
.legend > div:last-child {
  text-align: right;
}